<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <title>Treisman app</title>
    <link rel="stylesheet" href="../style/treisman-app.css">
</head>
<body> 
    <div id="grid-container"></div>
    <div id="game-container">   
        <p style="display:none" id="wrong-sign"> X </p>
        <div id="items-container"></div>
        <button id="main-button">Démarrer</button>
    </div>
    </div>
    <div id="quiz-counter" style="position: fixed; top: 10px; right: 10px; font-size: 18px; font-weight: bold;">
        Quiz 1 / 6
    <div id="end-screen" style="display:none;">
    <h2>tié un tigre</h2>
    <p id="final-score"></p>
</div>

</body>

<script src = "../scripts/view.js"> </script>
<script type="module" src = "../scripts/script.js"></script>
</html>