<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <title>Expérience de recherche visuelle</title>
    <link rel="stylesheet" href="../style/treisman-app.css">
</head>
<body>
    <div class="center">
        <h2 class="title2">Tutoriel</h2>

        <div id="tutorial-container">
            <section class="tutorial-text">

                <h3 class="tutorial-section-title">Votre tâche</h3>
                <p>
                    Vous allez voir apparaître plusieurs formes à l'écran.
                    Votre objectif est de déterminer le plus rapidement où la <strong>cible</strong> se situe sur l'écran.
                </p>

                <h3 class="tutorial-section-title">Comment procéder</h3>
                <ol class="tutorial-steps">
                    <li>Cliquez sur le bouton <strong>« Démarrer »</strong>.</li>
                    <li>Un ensemble de formes apparaîtra.</li>
                    <li>Repérez la <strong>forme cible</strong> (exemple : un triangle rouge 🔺) et cliquez dessus.</li>
                </ol>
                <button id="start-button" onclick="window.location.href='form.html'">
                    Remplir le formulaire
                </button>
            </section>

            <div id="img-container">
                <img src="../assets/search-example1.png" alt="Exemple cible présente" class="tutorial-image">
                <img src="../assets/search-example2.png" alt="Exemple cible absente" class="tutorial-image">
            </div>

        </div>
    </div>

<script src="../scripts/view.js"></script>
<script type="module" src="../scripts/script.js"></script>
</body>
</html>